ul {
    padding-left: 2rem;
    list-style-type: none;
}
  
ul li {
    padding-left: 2rem;
}

#search-box {
    --search-box-height: 40px;
    --search-box-width: 500px;
    --box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.2);

    width: var(--search-box-width);
    height: var(--search-box-height);
    margin: 200px auto 0;
}

#search-box #autocomplete-container {
    width: 100%;
    position: relative;
    background-color: #fff;
    /* border-radius: calc(0.5 * var(--search-box-height)); */
}

#search-box #autocomplete-container input {
    width: 100%;
    height: var(--search-box-height);

    border: none;
    padding: 0 20px;
    /* border-radius: calc(0.5 * var(--search-box-height)); */
    box-shadow: var(--box-shadow);

    z-index: 2;
}

#search-box #autocomplete-container input:focus {
    outline: none;
}

.autocomplete-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;

    padding: 0;
    margin-top: var(--search-box-height);
    background-color: #fff;
    box-shadow: var(--box-shadow);
}

.autocomplete-container .autocomplete-container__item:hover {
    background-color: grey;
    cursor: pointer;

}

